@import (reference) 'base/variables';

.blog-footer {
    border-top: 1px solid @c-gallery;
    padding: 35px;
    text-align: center;
    .social-button {
        margin: 5px;
    }
    .copyright {
        padding-top: 20px;
        color: @c-gray;
        font-size: 14px;
    }
}