.blog-layout {
    position: relative;
    .blog-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .blog-layout-body {
        padding: 25px;
        max-width: 800px;
        margin: 0 auto;
        text-indent: 30px;
    }
}