.blog-layout {
    position: relative;
    .blog-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .blog-layout-content {
        padding: 15px;
        max-width: 900px;
        margin: 0 auto;
    }
}